fastapi[standard]
uvicorn[standard]
motor
certifi
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
nltk
groq
apscheduler
httpx
slowapi
google-auth
requests
scikit-learn
